
<div class='demo-app'>
  <div class='demo-app-sidebar'>
    <div class='demo-app-sidebar-section'>
      <h2>Instructions</h2>
      <ul>
        <li>Select dates and you will be prompted to create a new event</li>
        <li>Drag, drop, and resize events</li>
        <li>Click an event to delete it</li>
      </ul>
    </div>
    <!-- <div id='draggable-el' data-event='{ "title": "my event", "duration": "02:00" }'>drag me</div> -->
    <div #externalDraggableItems>
      <p>
        <strong>Draggable Events</strong>
      </p>
      <div class='draggable-el' data-title="my event #1" data-start="02:00" data-end="12:00">drag mo ako 1</div>
      <div class='draggable-el' data-title="my event #2" data-start="02:00" data-end="12:00">drag mo ako 2</div>
      <div class='draggable-el' data-title="my event #3" data-start="02:00" data-end="12:00">drag mo ako 3</div>
      <div class='draggable-el' data-title="my event #4" data-start="02:00" data-end="12:00">drag mo ako 4</div>
      <div class='draggable-el' data-title="my event #5" data-start="02:00" data-end="12:00" data-sampleDuration="12:00">drag mo ako 5</div>
      <div class='draggable-el-duration' data-title="SAMPLE DURATION" data-sampleDuration="12">SAMPLE DURATION</div>
    </div>
    <div class='demo-app-sidebar-section'>
      <label>
        <input
          type='checkbox'
          [checked]='calendarVisible'
          (change)='handleCalendarToggle()'
        />
        toggle whole calendar
      </label>
    </div>
    <div class='demo-app-sidebar-section'>
      <label>
        <input
          type='checkbox'
          [checked]='calendarOptions.weekends'
          (change)='handleWeekendsToggle()'
        />
        toggle weekends
      </label>
    </div>
    <div class='demo-app-sidebar-section'>
      <h2>All Events ({{currentEvents.length}})</h2>
      <ul>
        <li *ngFor='let event of currentEvents'>
          <b>{{event.startStr}}</b>
          <i>{{event.title}}</i>
        </li>
      </ul>
    </div>
    <div class='demo-app-sidebar-section'>
      <h2>Filtered Events ({{filterCurrentEvents?.length}})</h2>
      <ul>
        <li *ngFor='let event of filterCurrentEvents'>
          <b>{{event.startStr}}</b>
          <i>{{event.title}}</i>
        </li>
      </ul>
    </div>
  </div>

  <div class='demo-app-main'>
    <full-calendar
      #fullcalendar
      *ngIf='calendarVisible'
      [options]='calendarOptions'
    ></full-calendar>
  </div>

</div>
