<h5>Calendar Event</h5>
<form [formGroup]="eventForm">
  <div class="" [ngStyle]="{display: 'block'}">
    <label for="">Title:</label>
    <mat-form-field>
      <input type="text" matInput formControlName="title" name="" value="">
    </mat-form-field>
  </div>
  <div class="" [ngStyle]="{display: 'block'}">
    <label for="">Color:</label>
    <mat-form-field>
      <select class="" name="" formControlName="color">
        <option value="green">green</option>
        <option value="red">red</option>
        <option value="blue">blue</option>
      </select>
    </mat-form-field>
  </div>
  <button type="button" name="button" (click)="onSubmit()">CONFIRM</button>
</form>
